*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result,
.content__details {
  flex: 1;
}

.result{
  box-sizing: border-box;
}

.search-form {
  display: flex;
 justify-content: space-between;
  align-items: start;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.5;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card-title {
  display: block;
  max-width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0%;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.search-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  max-width: 225px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  appearance: none;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  opacity: 1;
  white-space: nowrap;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1.5%;
  word-spacing: 0%;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #ffffff;
  border-radius: 1px;
  padding: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

.search-form__pseudo-checkbox {
  content: "";
  cursor: pointer;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #ccc;
  padding: 1.5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  top: 0;
  left: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover span {
  text-decoration: underline;
}

.checkbox-item:has(:focus-visible) {
  outline: 1px solid rgb(255 255 255 / 0.7);
  outline-offset: 2px;
  border-radius: 4px;
}

.button {
  border: 1px solid #ffffff;
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 6px;
  padding-top: 6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
  height: 34px;
}

.more-button {
  max-width: 390px;
  width: calc(100% - 4px);
  margin: 0 2px 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
